@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
	<h1>Prueba Práctica</h1>
	<p class="lead">Gerardo Rodríguez Suarez</p>
	<p class="lead">gerardo.rodriguez213@@gmail.com</p>
	<p class="lead">6327 6289</p>
	<p><a href="https://wa.me/50663276289" class="btn btn-success btn-lg">WhatsApp</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lista de Personas</h2>
		<p>
			Debe contar con un botón que al presionarlo consulte la información de la tabla
			maestro y la muestra como una lista en la página.
		</p>
        <p><a class="btn btn-primary" href="Persona">Consultar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crear Persona</h2>
        <p>Si desea crear un nuevo registro de persona en base de datos.</p>
        <p><a class="btn btn-primary" href="Persona/Create">Crear</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Api Persona</h2>
        <p>Documentación de Api Persona</p>
        <p><a class="btn btn-primary" href="http://localhost/WebApi/Help">Web Api</a></p>
    </div>
</div>